.footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
    color:  #fad77d;
}